<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.meituan.mapper.GoodsMapper">
	<select id="listAll"  resultType="Good">
		select g.*,s.sname sname,s.sdetail,t.tname,e.state from goods g,store s,type t,evaluate e where g.sid=s.sid and t.tid=g.tid and e.gid=g.gid
	</select> 
	
	<select id="goodInfo" resultType="Good" parameterType="int">
	    select g.*,a.*,b.tname  from type a,type b ,goods g where a.tfid=b.tid and g.tid=b.tid and a.tid=#{tid}
	</select>
	
	<select id="getGoodById" parameterType="int" resultType="Good">
		select g.*,s.sname sname,s.sdetail,t.tname,e.state from goods g,store s,type t,evaluate e where g.sid=s.sid and t.tid=g.tid and e.gid=g.gid and g.gid=#{gid}
	</select>
	
	<select id="getGoodByGid" parameterType="int" resultType="Good">
		select g.* from goods g where gid=#{gid}
	</select>
	
	<select id="getTopgoods"  resultType="Good">
		select * from goods where gid between 100010 and 100018
	</select> 
	
	<select id="getBigTypeInfoByTname" resultType="Good" parameterType="String">
	  select g.gid,g.gname,g.gprice,g.gpic,g.gdetails,g.gcount,g.ecount,t.tid from goods g,type t where g.tid=t.tid and t.tname=#{tname}
	</select>
	
	<select id="selectGoods" resultType="Good" parameterType="String">
	   SELECT g.gid,g.gname,g.gprice,g.gpic,g.gdetails,g.gcount,g.ecount FROM goods g WHERE gname LIKE CONCAT(CONCAT('%', #{gname}), '%')
	</select>
</mapper>
