<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.meituan.mapper.GoodsMapper">
	<select id="listAll"  resultType="Good">
		select g.*,s.sname sname,s.sdetail from goods g,store s where g.sid=s.sid
	</select> 
	
	<select id="goodInfo" resultType="Good" parameterType="int">
	    select g.*,a.*,b.tname  from type a,type b ,goods g where a.tfid=b.tid and g.tid=b.tid and a.tid=#{tid}
	</select>
</mapper>
