<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.meituan.mapper.OrderMapper">
	<select id="findOrder"  resultType="Order">
	select (select count(1) from users)alluser,(select sum(status) from orders) alls, (select count(1) from orders) allorder ,sum(status) status,count(extract(MONTH from otime)) morder, extract(MONTH from otime)  otime from orders group by otime order by otime desc  

	</select>
</mapper>
