<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.meituan.mapper.TypeMapper">
	<select id="listAll"  resultType="Type">
		select a.*,b.tname ftname,a.tname name from type a,type b where a.tfid=b.tid
	</select> 
	
	<select id="findAll"  resultType="Type">
		select type.*,type.tname name from type
	</select>
</mapper>
