<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.meituan.mapper.UserMapper">
	<select id="login" parameterType="User" resultType="User">
      select * from users where (usname=#{usname} or email=#{usname} or telnum=#{usname}) and uspwd=#{uspwd}
	</select>
	
	<insert id="insertUser" parameterType="User"> 
	     insert into users values(seq_users_usid.nextval,'匿名',#{uspwd},null,#{email},null,null,'','')
	</insert>
</mapper>
