@charset "utf-8";
/* CSS Document */
<!--头部-->
*{margin:0 auto; padding:0}
#findmima{width:100%;font-family:"微软雅黑"}
#findmima_logo{width:100%; height:70px; border-bottom:1px solid #2BB8AA; padding:80px auto}
#findmima_logo_content{width:1000px; height:70px; margin:auto}
#findmima_logo img{margin-top:10px}
#findmima_logo_right{width:200px; height:50px; margin-top:10px; margin-right:30px; float:right;}
#findmima_logo_right p{width:160px; height:25px; float:left; display:block; text-align:center; line-height:25px; margin-top:7px}
#findmima_logo_right a{width:45px; height:25px; display: block; background-color:#2BB8AA; text-align:center; line-height:25px; text-decoration:none; float: right}

<!--内容-->
#findmima_body{width:1000px; height:526px;}
#body_top{width:1000px; height:103px; margin: auto auto}
#body_top_left{width:114px; height:107px; float:left;border-bottom:2px solid #333333}
#body_top_left .black{width:114px; height:77px; float:left}
#body_top_left .text{width:114px; height:30px;text-align:center; line-height:30px; float:left}
#body_top_right{width:886px; height:107px; float:left; border-bottom:2px solid #DDDDDD}
#body_centre{ width:100%; height:85px;}
#body_centre img{width:1000px; height:31px; margin:auto auto; display:block}
#body_bottom{width:100%; 333px}
#body_bottom_form{width:981px; height:288px; margin:auto auto; border:1px solid #333}
#body_bottom_form_center{ width:426px; height:172px; margin:58px auto}
#body_bottom_form_center .formcontent{width:100%; height:50px;}
.formcontent label{width:64px; height:36px; line-height:36px; text-align:center; float:left; margin-right:5px; font-size:14px}
#usnameOremail{width:160px; height:36px; margin-right:5px; line-height:36px; float:left}
.textP{display:block;width:100px;height:36px;line-height:36px;text-align:left; float:left}
.formcontent .yzm{width:112px; height:32px; line-height:32px; float:left}
.formcontent .picYZM{width:73px; height:32px; float:left; border:1px solid #666; margin-right:5px;float:left}
#identity{display:block;width:100px;height:35px;float:left;margin-right:5px}
.formcontent  .huan{display: block; width:103px; height:32px; text-decoration:none; line-height:32px; text-align:left; font-size:9px; float:left}
.formcontent .next{display:block; width:86px; height:32px; background-color:#2EBFB0; color:#FFF; line-height:32px; text-align:center; text-decoration:none; float:left}


<!--找回密码-->
#mailFindPwd{width:1000px; height:400px; margin:0 auto}
#top{width:1000px;margin:0 auto}
#content{width:1000px; height:100px;  border:1px solid #CCC; margin:0 auto}
#content_left,#content_right{width:500px; height:100px; float:left}
#content_right div{display:block; width:102px; height:34px; background-color:#2EBFB0;margin:33px auto}
#content_right div a{text-align:center; width:102px;height:34px; line-height:34px; text-decoration:none; display:block}



<!--mail认证-->
#mailRenzheng{width:1000px; height:400px; margin:0 auto}
#mailRenzheng_top{width:1002px; height:142px; margin: 0 auto; margin-bottom:5px}
#mailRenzheng_bottom{width:1002px; height:185px; border:1px solid #999;margin:0 auto}
.mailRenzheng_content{width:478px; height:185px; margin:0 auto;}
.mailRenzheng_content .one,.mailRenzheng_content .two{width:100%; height:50%;text-align:center;}
.one label{display:block; width:66px; height:68px; float:left}
.one h3{display:block; width:180px; height:68px; float:left; margin-top:27px}
.two .goMail{display:block; width:85px; height:32px;line-height:32px;background-color:#2EBFB0;text-align:center; text-decoration:none; margin-left:15px;}


<!--mail认证完成-->
#finishRenzheng{width:1000px; height:400px; margin:0 auto}
#finishRenzheng_top{width:1002px; height:192px; margin: 0 auto; margin-bottom:5px}
#finishRenzheng_bottom{width:1002px; height:185px; border:1px solid #999;margin:0 auto}
.finishRenzheng_content{width:478px; height:185px; margin:0 auto;}
.finishRenzheng_content .frist,.finishRenzheng_content .second{width:100%; height:50%;}
.frist label{display:block; width:66px; height:68px; float:left}
.frist h3{display:block; width:220px; height:68px; float:left; margin-top:27px}
.second .login{display:block; width:91px; height:35px;line-height:35px;background-color:#2EBFB0;text-align:center; text-decoration:none; margin-left:15px;}


<!--修改密码-->
#modifyPwd{width:1000px; height:580px;margin:0 auto}
#modifyPwd_top{width:1000px; height:155px; margin:0 auto}
#modifyPwd_bottom{width:1000px; height:322px; margin: 0 auto;border:1px solid #666}
#modifyPwd_bottom_content{width:512px; height:322px; margin: auto auto;}
#modifyPwd_bottom_content .pwd{width:512px; height:37px; margin-bottom:5px;}
#modifyPwd_bottom_content .anquanxishu{ width:512px; height:28px;line-height:28px; margin-bottom:5px;}
.pwd label{width:93px; height:37px; line-height:37px; text-align:right; display:block; float:left; font-size:14px; margin-right:5px}
.pwd input{ width:259px; height:37px;}
.anquanxishu label{width:93px; height:28px; line-height:28px; text-align:right; display:block; float:left; font-size:14px; margin-right:5px}
.anquanxishu span{ display:block;width:82px; height:18px;line-height:18px; margin-right:3px; float:left;  text-align:center; color:#EEEEEE;margin-top:10px}
.pwd .tijiao{width:101px; height:35px; background-color:#2EBFB0; display:block; line-height:35px; text-align:center; text-decoration:none; float:left; margin-top:15px;}

<!--尾部-->
#findmima_footer{width:1000px;71px;}
#findmima_footer p{display:block; width:550px; height:40px;line-height:40px; text-align:center; margin:auto auto; font-size:12px; color: #666}
