@charset "utf-8";
/* CSS Document */  
*{
	padding:0;
	margin:0 auto;
}
#all {
	width: 100%;
	height: 157px;
	font-family: "微软雅黑"
}
#header {
	width: 100%;
	height: 157px;
}
#body-header-box01 {
	width: 100%;
	height: 29px;
	background-color: #F9F9F9;
	border-bottom: 1px solid #EEE;
}
.h_top {
	width: 86%;
	height: 28px;
	font-size: 12px;
	line-height: 28px;
	margin-left: 7%;
}
.h_body {
	width: 86%;
	margin-left: 7%;
	height: 105px;
}
.h_top_left {
	float: left;
}
.h_top_right {
	float: right;
	margin-right: 20px
}
.h_top_left li, .h_top_right li {
	list-style-type: none;
	float: left;
	margin-left: 15px
}
.mymt, .myshopping {
	list-style: none;
	clear: both
}
#h_top_right_mymt {
	display: none;
	z-index: 2
}
#h_top_right_myshopping {
	display: none
}
#h_top_right_shangjia {
	display: none
}
#img {
	width: 87px;
	height: 58px;
	float: left;
	margin-left: 100px;
}
.h_body_search {
	text-align: center;
	border: 2px solid #0C6;
	width: 490px;
	height: 42px;
	margin: 20px auto
}
.h_body_search .text {
	width: 358px;
	height: 42px;
	color: #999;
	float: left;
	font-size: 14px;
}
.h_body_search #search {
	width: 76px;
	height: 42px;
	line-height: 46px;
	background-color: #4FC3B7;
	float: right;
	color: #FFF;
	font-size: 14px
}
.h_body_hot {
	width: 434px;
	height: 30px;
	margin: auto;
}
.h_body_hot li {
	list-style: none;
	float: left;
	margin-right: 17px;
}
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, form, a, fieldset, input, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}
body {
	line-height: 1;
	font-size: 88%;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	padding: .6em 0;
	margin: 0 15px;
}
ul, ol {
	list-style: none;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.floatLeft {
	float: left;
	padding: .5em .5em .5em 0;
}
.floatRight {
	float: right;
	padding: .5em 0 .5em .5em;
}
#b_body_left ul li.sel {
	background-color: #fff;
}

#body {
	width:86%;
	margin-left:7%;
}
#b_head {
	width: 100%;
	height: 40px;
	background-color: #2BB8AA;
	border:1px solid  #2BB8AA;
}
#b_head_left {
	width: 20%;
	height: 40px;
	line-height: 40px;
	background-color: #1CAF9A;
	float: left;
}
#b_head_left a {
	height: 40px;
	line-height:40px;
	text-decoration: none;
	font-size:16px;
	color: #FFF;
	text-align:left;
	margin-left:20px;
}
#b_head_right {
	width: 79%;
	height: 40px;
	line-height: 40px;
	background-color: #2BB8AA;
	float: left;
}
#b_head_right a {
	text-decoration: none;
	font-size: 16px;
	color: #FFF;
	font-weight:bold;
}
#b_head_right ul li {
	float: left;
	width: 100px;
	height: 40px;
	text-align:center;
}
#b_head_right ul li:hover {
	background-color: #00c3b0;
}
#b_body {
	height:400px;
	width:100%;
	border:1px solid #eee;
}
#b_body_left {
	height: 400px;
	width:20%;
	float: left;
}
#b_body_right {
	height: 400px;
	width:80%;
	font-weight: 700px;
	float: right;
}
a:hover {
	color: #00c3b0;
	text-decoration: none;
}
.b_body_left_li {
	border-bottom: 1px dotted #ccc;
	font-weight: 700;
	color: #FAFAFA;
	height: 38px;
	line-height: 38px;
	width: 100%;
	height: 39px;
	background-color: #FAFAFA;
}
.b_body_left_li_a {
	margin-left: 20px;
}
#b_body_right_top {
	width:100%;
	height:80px;
}

.b_body_right_li {
	float: left;
	width: 20%;
	height:40px;
	line-height:40px;
	text-align:center;
	border-bottom:1px dotted #eee;
}
#b_body_right_foot {
	width: 100%;
	height: 318px;
	border: 1px dotted #ccc;
	margin: 0 auto;
}
.goods{
	border-left:1px dotted #ccc;
	width: 31%;
	height:318px;
	float: left;
	margin-left: 2.1%;
}
#goods1,#goods2{
	border-right:1px dotted #ccc;
}
#b_body_center {
	position: absolute;
	width: 250px;
	height: 400px;
	display: none;
	z-index: 1;
	background-color: #eee;
	margin-left:17.2%;
}

#content {
	width: 100%;
	height: 6320px;
	margin-top: 50px;
}
#content #content-left {
	width:7%;
	height: 6350px;
	float: left;
}
#content #content-left #nowLook {
	width: 40px;
	float:left;
	margin-left: 20px;
}
#content #content-middle {
	width: 86%;
	height: 6320px;
	float: left;
}
#content #content-middle .box3 {
	width: 100%;
	height: 720px;
	margin-bottom:40px;
}
#content #content-middle .box3 .box8 {
	width: 100%;
	height: 30px;
	margin-bottom:5px;
}
#content #content-middle .box3 .box8 .box4 {
	width: 150px;
	height: 30px;
	float: left;
}
#content #content-middle .box3 .box8 .box4 a img {
	margin-top: -2px;
	float: left;
}
#content #content-middle .box3 .box8 .box4 #a {
	height: 30px;
	font-size: 20px;
	color: #666;
	float: left;
	margin-left: 10px;
}
#content #content-middle .box3 .box5 {
	width: 490px;
	height: 30px;
	float: right;
}
#content #content-middle .box3 .box5 ul li a {
	color: #666;
	float: left;
	font-size: 14px;
	border-right: 1px solid #CCC;
	margin: 5px 0px 5px 0px;
	padding: 0px 9.8px 0px 9.8px;
}
#content #content-middle .box3 .box5 ul li a:hover {
	color: #2bb7aa;
}
#content #content-middle .box3 .box6 {
	width: 100%;
	height: 640px;
}
#content #content-middle .box3 .box6 .box7 {
	width: 24.8%;
	height: 320px;
	border: 1px solid #EEE;
	float: left;
}
#content #content-middle .box3 .box9 {
	width: 100%;
	height: 40px;
	line-height: 30px;
	text-align: center;
	background-color: #F6F6F6;
}
#content #content-middle .box3 .box9 a {
	font-size: 16px;
	color: #666;
}
#content #content-middle .box3 .box9 a:hover {
	color: #2bb7aa;
}
#content #content-middle #box10 {
	width: 100%;
	height: 200px;
	margin-top: 40px;
}
#content #content-middle #box10 .box11 {
	width: 19%;
	height: 200px;
	float: left;
	font-size: 12px;
	line-height: 18px;
	font-family: "Hiragino Sans GB", ​"WenQ... Hei", ​tahoma, ​sans-serif;
}
#content #content-middle #box10 .box11 p {
	color: #666;
	margin: 10px 0 15px 10px;
	font-weight: bold;
	font-size: 14px;
}
#content #content-middle #box10 .box11 ul li a {
	font-size: 12px;
	color: #999;
	margin-left: 10px;
}
#content #content-middle #box10 .box11 ul li a:hover {
	text-decoration: underline;
}
#content #content-middle #box10 #box12 {
	width: 23%;
	height: 200px;
	float: left;
	border-left: 1px solid #EEE;
}
#content #content-middle #box10 #box12 img {
	margin: 20px 0 5px 20px;
}
#content #content-middle #box10 #box12 .ke {
	font-size: 16px;
	color: #999;
	margin: 0 0 5px 20px;
}
#content #content-middle #box10 #box12 .dian {
	font-size: 12px;
	color: #999;
	margin: 0 0 5px 20px;
}
#content #content-middle #box10 #box12 .tui {
	font-size: 12px;
	color: #999;
	margin: 40px 0 0 20px;
}
#content #content-middle #box10 #box12 a {
	color: #0FF;
	font-size: 12px;
	margin-left: 20px;
}
#content #content-middle #box10 #box12 a:hover {
	text-decoration: underline;
}
#content #content-right {
	width: 6%;
	height: 6320px;
	float: left;
}
#content #content-right #box2 {
	width: 40px;
	margin-left: 35px;
	position: fixed;
	bottom: 232px;
}
#footer {
	width: 1347px;
	height: 232px;
	border-top: 1px solid #999;
	background-image: url(images/footer111.jpg);
}
#youfu {
	float: right;
}
#b_body_center ul li{text-decoration:none;margin-left:15px; margin-top:10px;}

.h333{
	margin-top:10px;
	margin-bottom:12px;
}
.box7 a .img01{
	width:261px;
	height:154px;
	margin:12px 15px 0 15px;
}
.shopTitle{
	height:30px;
	color:#666;
	font-size:14px;
	font-weight:700;
}
.typeShopA{
	font-size:14px;
}
.typeShopA:hover{
	color:#333;
}
.box7-class{
	width:261px;
	height:46px;
	margin-left:13.5px;
	margin-top:10px;
	border-top:1px dashed #eee;
}
.pj{
	width:119px;
	height:33px;
	line-height:33px;
	float:right;
	font-size:12px;
	color:#999;
}

