@charset "utf-8";
/* CSS Document */

	*{
		padding:0px;
		margin:0 auto;
	}
	ul li{
		list-style:none;
	}
	a{
		text-decoration:none;
	}
	body{
		font-family:"宋体",​Tahoma,​Helvetica,​arial,​sans-serif;
	}
	#body-head{
		width:100%;
		height:67px;
		background-color:#23BEB1;
	}
	#body-head #body-head-on{
		width:72%;
		height:67px;
	}
	#body-head #body-head-on #a1{
		width:215px;
		height:49px;
		margin-top:18px;
		float:left;
	}
	#body-head #body-head-on #a2{
		width:68px;
		height:21px;
		line-height:21px;
		margin:40px 10px 0 10px;
		padding-left:15px;
		float:right;
		font-size:12px;
		color:#FFF;
	}
	#body-head #body-head-on #a2:hover{
		background-color:#1C9A90;
	}
	
	#body-content{
		width:100%;
		height:500px;
		margin:20px 0 50px 0;
	}
	#body-content #body-content-on{
		width:72%;
		height:458px;
		border:1px solid #CCC;
	}
	#body-content #body-content-on #up{
		width:87%;
		height:36px;
		margin:15px 60px 0 60px;
		padding:10px 0 10px 0;
		border-bottom:1px solid #CCC;
	}
	#body-content #body-content-on #up h2{
		width:100px;
		height:25px;
		line-height:36px;
		padding-left:12px;
		float:left;
		color:#333;
		font-family:"宋体",​Tahoma,​Helvetica,​arial,​sans-serif;
	}
	#body-content #body-content-on #down{
		width:96%;
		height:384px;
		margin:0 20px 0 20px;
	}
	#body-content #body-content-on #down #down-left{
		width:48%;
		height:269px;
		float:left;
		margin:25px 0 25px 0;
		padding:35px 0 30px 44px;
		border-right:1px solid #CCC;
	}
	#body-content #body-content-on #down #down-left .one{
		width:395px;
		height:32px;
		font-size:14px;
		line-height:21px;
		margin-bottom:17px;
		padding:3px 10px 3px 30px;
	}
	#body-content #body-content-on #down #down-left .one label{
		width:60px;
		height:21px;
		padding-top:4px;
	}
	#body-content #body-content-on #down #down-left .one .f-text{
		width:220px;
		height:18px;
		padding:5px;
	}
	#body-content #body-content-on #down #down-left .one a{
		width:112px;
		height:15px;
		margin-left:5px;
		color:#2BB8AA;
	}
	#body-content #body-content-on #down #down-left .one a:hover{
		text-decoration:underline;
	}
	#body-content #body-content-on #down #down-left #two{
		width:395px;
		height:32px;
		font-size:14px;
		line-height:21px;
		margin-bottom:17px;
		padding:3px 10px 3px 30px;
	}
	#body-content #body-content-on #down #down-left #two label{
		width:61px;
		height:20px;
		line-height:21px;
		padding-top:4px;
		margin-left:-14px;
	}
	#body-content #body-content-on #down #down-left #two .yan{
		width:60px;
		height:18px;
		padding:5px;
	}
	#body-content #body-content-on #down #down-left #two img{
		width:60px;
		height:30px;
	}
	#body-content #body-content-on #down #down-left #two a{
		color:#2BB8AA;
	}
	#body-content #body-content-on #down #down-left #two a:hover{
		text-decoration:underline;
	}
	#body-content #body-content-on #down #down-left #three{
		width:395px;
		height:21px;
		padding:3px 10px 3px 70px;
		margin-bottom:17px;
	}
	#body-content #body-content-on #down #down-left #three label{
		width:84px;
		height:15px;	
		font-size:14px;
		line-height:21px;	
	}
	#body-content #body-content-on #down #down-left #four{
		width:395px;
		height:37px;
		padding:3px 10px 3px 70px;
	}
	#body-content #body-content-on #down #down-left #four #submit{
		width:79px;
		height:36px;
		padding:7px 20px 6px 20px;
		background-color:#FF7A00;
		font-size:16px;
		color:#FFF;
		border:none;
	}
	#body-content #body-content-on #down #down-right{
		width:36%;
		height:266px;
		padding:20px;
		float:right;
	}
	#body-content #body-content-on #down #down-right a img{
		padding-top:15px;
	}

	#body-footer{
		width:100%;
		height:213px;
		background-color:#FAF9F9;
		border-top:2px solid #23BEB1;
	}
	#body-footer #body-footer-on{
		width:100%;
		height:126px;
		padding:35px 0 50px 0;
	}
	#body-footer #body-footer-on #on-one{
		width:72%;
		height:70px;
		margin-bottom:20px;
	}
	#body-footer #body-footer-on #on-one #png01{
		float:left;
		margin-right:10px;
	}
	#body-footer #body-footer-on #on-one .on-one-box01{
		width:126px;
		height:70px;
		padding:0 30px 0 20px;
		border-left:1px dashed #CCC;
		float:left;
		font-size:12px;
		line-height:18px;
		font-family:"宋体",​Tahoma,​Helvetica,​arial,​sans-serif;
	}
	#body-footer #body-footer-on #on-one .on-one-box01 h3{
		font-size:16px;
		line-height:24px;
		font-family:"宋体",​Tahoma,​Helvetica,​arial,​sans-serif;
	}
	#body-footer #body-footer-on #on-one .on-one-box01 span{
		color:#666;
		font-size:14px;
		line-height:21px;
		font-weight:bold;
		font-family:"宋体",​Tahoma,​Helvetica,​arial,​sans-serif;
	}
	#body-footer #body-footer-on #on-one #box02{
		width:153px;
	}
	#body-footer #body-footer-on #on-one #box03{
		width:136px;
	}
	#body-footer #body-footer-on #on-one .on-one-box02{
		width:189px;
		height:70px;
		padding:0 30px 0 20px;
		float:right;
		border-left:1px dashed #CCC;
	}
	#body-footer #body-footer-on #on-one .on-one-box02 h3{
		font-size:16px;
		line-height:24px;
		font-family:"宋体",​Tahoma,​Helvetica,​arial,​sans-serif;
	}
	#body-footer #body-footer-on #on-one .on-one-box02 h3 a{
		color:#000;
	}
	#body-footer #body-footer-on #on-one .on-one-box02 h3 a:hover{
		text-decoration:underline;
	}
	#body-footer #body-footer-on #on-one .on-one-box02 h3 span{
		color:#666;
	}
	#body-footer #body-footer-on .on-two{
		width:100%;
		height:18px;
		line-height:18px;
		font-size:12px;
		text-align:center;
		color:#666;
	}
	#body-footer #body-footer-on .on-two a{
		width:48px;
		height:13px;
		color:#999;
	}
	#body-footer #body-footer-on .on-two a:hover{
		text-decoration:underline;
	}