@CHARSET "UTF-8";

#content{width:400px; height:300px;  margin:80px auto}
#content div{width:300px; height:45px; float:left; margin:5px auto}
#content div label{width:70px;height:30px;display:block; line-height:30px; text-align:right; float:left; font-family:"微软雅黑"; margin-right:5px}
form input{width:205px;height:30px; display:block; line-height:30px; float:left}
.tijiao{width:60px; height:30px; background-color:#01C39C; display:block}